input[type=checkbox] {
  visibility: hidden;
}
.checkbox {
  width: 16px;
  margin: 0px 10px 16px !important;
  position: relative;
  label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    // background: #eee;
    border:1px solid #ddd;
    // border-radius: 100%;
    &:after {
      opacity: 0.1;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 6px;
      left: 7px;
      border: 3px solid #26ca28;
      border-top: none;
      border-right: none;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
}
